@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: poppins;
}
::selection{
color: rgb(229, 255, 0);
}

.form input{
    border: 1px solid black;
    width: 350px;
    height:40px;
    margin-top: 5px;
}