@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: poppins;
}
::selection{
color: rgb(229, 255, 0);
}

.form input{
    border: 1px solid rgba(255, 255, 255, 0.674);
    width: 350px;
    height:40px;
    background-color: rgba(0, 0, 0, 0.84);
    margin-top: 5px;
}
.login{
    background-image: url('https://wallpaperaccess.com/full/1489353.jpg');
    background-size:cover;
}
.btnstyle>button{
    text-align: start;
    display: flex;
    gap: 10px;
    }
.hv>button:hover{
color:green;
background-color: rgba(255, 255, 0, 0.371);
}
.bgcolor>:last-child{
    margin-bottom: 20px;
}
.bgcolor{
    padding: 0px 16px;
    color: rgba(255, 255, 255, 0.738);

}
.bgcolor>li:hover{
background-color: rgba(244, 235, 235, 0.071);
}